<div class="container">
    <h1>Học Về Form</h1>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required
            [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/>
            <span *ngIf="name === ''">* cần phải nhập tên</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
            <span *ngIf="password === ''">* cần phải nhập password</span>
        </div>
        <div class="form-group">
            <label for="vehicles">Vehicles</label>
            <br />
            <select (change)="selectVehicles($event)">
                <option *ngFor ="let i of vehicles">
                    {{i}}
                </option>
            </select>
        </div>
        <!-- <button type="submit" class="btn btn-success">Submit</button> -->
        <!-- <button (click)="onSubmit()" class="btn btn-success">Submit</button> -->
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>